# Fikalist generator for Particle & Astroparticle Physics

Input: old fikalist  
Output: new fikalist based on weighted sampling without replacement

In [1]:
from IPython.display import display
from fika import *

## Input
Input is a text file, containing the previous fikalist 

Something like:

```
#Week    Friday        Person1    Person2 
3        19/01/2018    name1      name2           
4        26/01/2018    name3      name4   
5        02/02/2018    HOLIDAY:holidayname
```

Etc. Example files can be found in the ```old_fikalist/``` directory.

In [2]:
# input data
filename = 'old_fikalists/spring18.fika'
fikalist = FikaList()
fikalist.input_list(filename)

# show all the potential fika providers
#fikalist.providers.show()

## Editing the providers

The people in the group are constantly changing so we will need to update who is actually around to take part in fika. This can be done by adding and removing providers.

In [3]:
# update by adding and removing people, use lists if you like.
fikalist.providers.remove(['Alex', 'Giulia', 'Fei'])
fikalist.providers.remove('David')
fikalist.providers.remove('Liang')
fikalist.providers.add('Francesca')

# FikaList even handles your errors
fikalist.providers.remove('Alex')

Farewell, Alex!
Farewell, Giulia!
Farewell, Fei!
Farewell, David!
Farewell, Liang!
Welcome, Francesca!
Alex is not in the list of providers...

## Constraints

Sadly fika is not always simple and we have to take into account constraints when making the list. This includes Swedish holidays which fall on a Friday (or Thursday...) and also people who are leaving soon and won't be able to provide fika after a certain date. It can also be convenient for couples who live together to have the same fika date. No fear! This can be handled with ```FikaList.constraints```.

Major holidays (summer, winter and Easter) are already programmed into the ```FikaList``` class as well as Swedish *red days*.

In [4]:
# Victor is leaving soon, so he should do fika sooner!
fikalist.constraints.add('Victor', 'leaving soon')

# Rakhee and Nirmal live together, so they should have the same fika date
fikalist.constraints.add(['Rakhee', 'Nirmal'], 'together')

## Generating the list

Now that everything is up to date and the constraints are defined, we can go ahead and make a fikalist.

The order is determined by random sampling without replacement, with people who made fika a long time ago weighted preferentially. Also, people are put together with someone who they have not been with before.

In [5]:
# NB: only run this block once without reinitialising
fikalist.generate()

# show the generated list
fikalist.show()
# fikalist.print()

   Week      Friday     Person 1   Person 2
0    17  27/04/2018       Rakhee     Nirmal
1    18  04/05/2018        Linda      Bengt
2    20  18/05/2018        Rupal     Dennis
3    21  25/05/2018        Felix    Josefin
4    22  01/06/2018       Victor      Edvin
5    23  08/06/2018        Thedi      Björn
6    24  15/06/2018     Christer      Filip
7    26  29/06/2018    Christian  Francesca
8    36  07/09/2018         Mark      Jonas
9    37  14/09/2018  Christoffer     Zeynep
10   38  21/09/2018          nan      Mószi
11   39  28/09/2018    Exjobbare        nan

## Save the list
Now that you have a new list, you can save it for use as input next time.

In [7]:
output_filename = 'old_fikalists/summer18.fika'
fikalist.save(output_filename)

In [8]:
df = fikalist.fikalist
df.style